# vscode
__pycache__
.vscode/
pyrightconfig.json

# pytest
*FashionMNIST*
.pytest_cache

# misc
actions-runner
configs/ci
sdk/

# data
data

# outputs
outputs/*

# pretrain pth
pretrained

# claude
.claude
*CLAUDE*